[paths]
source = src

[run]
source = src
parallel = true
context = ${{COVERAGE_CONTEXT}}
# "sysmon" is the default core since python3.14 but it does not support the dynamic
# contexts set by "pytest --cov-context=test" raising a CoverageWarning for each test
core = ctrace

[report]
show_missing = true
precision = 2
fail_under = 70
omit =
    *__init__.py
    */tests/*
    *__main__.py
    */cfg/*

# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover
    # tests import the package instead
    if __name__ == "__main__":

[html]
show_contexts=True
