graft docs
graft src
graft ci
graft tests
graft resources

include .appveyor.yml
include .bumpversion.cfg
include .cookiecutterrc
include .coveragerc
include .github/workflows/github-actions.yml
include .readthedocs.yml
include .travis.yml
include pytest.ini
include tox.ini
include variables.sh

include AUTHORS.rst
include ChangeLog
include CONTRIBUTING.rst
include LICENSE
include README.rst
include requirements.txt

global-exclude *.py[cod] __pycache__/* *.so *.dylib
