[flake8]
max-line-length = 119
jobs = 0
# B = bugbear
# B9 = bugbear opinionated (incl line length +10% tolerance)
select = C,E,F,W,B,B9
ignore =
    E203  # whitespace before ':' (black behaviour)
    E501  # E501: flake8 line length (covered by bugbear B950)
    W503  # W503: line break before binary operator (black behaviour)
    W504  # W504: line break after binary operator (black behaviour?)
# F401: imported but unused (like __init__ already works)
per-file-ignores =
    __init__.py:F401
