# Disable all checks without autofixes

# MD001 heading-increment
MD001: false

# MD003 heading-style
MD003: false

# MD013 line-length
MD013: false

# MD024 duplicate-headings
MD024: false

# MD025 single-h1
MD025: false

# MD028 no-blanks-blockquote
MD028: false

# MD033 inline-HTML
MD033: false

# MD035 hr-style
MD035: false

# MD036 no-emphasis-as-heading
MD036: false

# MD040 fenced-code-language
MD040: false

# MD041 first-line-heading
MD041: false

# MD042 no-empty-links
MD042: false

# MD043 required-headings
MD043: false

# MD045 no-alt-text
MD045: false

# MD046 code-block-style
MD046: false

# MD048 code-fence-style
MD048: false

# MD052 reference-links-images
MD052: false

# MD055 table-pipe-style
MD055: false

# MD056 table-column-count
MD056: false

# MD059 descriptive-link-text
MD059: false

# MD060 table-column-style
MD060: false

# Deactivate autofixes

# MD031 blanks-around-fences: don't force a blank line before/after fenced code blocks
MD031: false

# MD032 blanks-around-lists OFF: don't force a blank line before/after lists
MD032: false
