[MESSAGES_CONTROL]
disable=field-string-redundant,
    manifest-superfluous-key,
    po-pretty-format,
    prefer-env-translation,
    prefer-readme-rst,
    unused-logger,
    use-header-comments,
    xml-deprecated-qweb-directive-15,
    xml-field-bool-without-eval,
    xml-field-numeric-without-eval,
    xml-header-missing,
    xml-header-wrong,
    xml-id-position-first,
    xml-oe-structure-missing-id,
    xml-redundant-module-name,
{%- if prettier_matrix_value < 30 -%}
    {# Needed only if prettier is configured as aggressive xmlWhitespaceSensitivity:preserve #}
    xml-template-prettier-incompatible,
{%- endif %}
{%- if oca_hooks_disable_checks %}
    {{ ",\n    ".join(oca_hooks_disable_checks) }},
{%- endif %}
