[MESSAGES_CONTROL]
disable=field-string-redundant,manifest-superfluous-key,po-pretty-format,prefer-env-translation,prefer-readme-rst,unused-logger,xml-deprecated-qweb-directive-15,xml-field-bool-without-eval,xml-field-numeric-without-eval,xml-header-missing,xml-header-wrong,xml-id-position-first,xml-oe-structure-missing-id,xml-redundant-module-name,use-header-comments
{%- if oca_hooks_disable_checks -%}
{{- "," + ",".join(oca_hooks_disable_checks) -}}
{%- endif %}
