[MAIN]
ignore=CVS,.git,scenarios,.bzr
persistent=yes
load-plugins=pylint_odoo

[MESSAGES CONTROL]
# This configuration is not generated when ruff is enabled since both checks are
# migrated to ruff: no-search-all runs as mandatory (ODW8163 from .config/.ruff.toml)
# and manifest-superfluous-key from the autofix one (ODC8116 from .config/.ruff-autofix.toml)
disable=all,unknown-option-value
enable=manifest-superfluous-key,
   no-search-all

[REPORTS]
msg-template={path}:{line}:{column}: ({symbol}) {msg}
output-format=colorized
reports=no
evaluation=10.0 - ((float(5 * error + warning + refactor + convention) / statement) * 10)
score=no
