name: build
on: [push, pull_request]
jobs:
  test:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: 'check'
            python: '3.9'
            toxpython: 'python3.9'
            tox_env: 'check'
            os: 'ubuntu-latest'
          - name: 'docs'
            python: '3.9'
            toxpython: 'python3.9'
            tox_env: 'docs'
            os: 'ubuntu-latest'
          # - name: 'py27-cover (ubuntu)'
          #   python: '2.7'
          #   toxpython: 'python2.7'
          #   python_arch: 'x64'
          #   tox_env: 'py27-cover,codecov'
          #   os: 'ubuntu-latest'
          # - name: 'py27-cover (windows)'
          #   python: '2.7'
          #   toxpython: 'python2.7'
          #   python_arch: 'x64'
          #   tox_env: 'py27-cover,codecov'
          #   os: 'windows-latest'
          # - name: 'py27-cover (macos)'
          #   python: '2.7'
          #   toxpython: 'python2.7'
          #   python_arch: 'x64'
          #   tox_env: 'py27-cover,codecov'
          #   os: 'macos-latest'
          # - name: 'py27-nocov (ubuntu)'
          #   python: '2.7'
          #   toxpython: 'python2.7'
          #   python_arch: 'x64'
          #   tox_env: 'py27-nocov'
          #   os: 'ubuntu-latest'
          # - name: 'py27-nocov (windows)'
          #   python: '2.7'
          #   toxpython: 'python2.7'
          #   python_arch: 'x64'
          #   tox_env: 'py27-nocov'
          #   os: 'windows-latest'
          # - name: 'py27-nocov (macos)'
          #   python: '2.7'
          #   toxpython: 'python2.7'
          #   python_arch: 'x64'
          #   tox_env: 'py27-nocov'
          #   os: 'macos-latest'
          # - name: 'py36-cover (ubuntu)'
          #   python: '3.6'
          #   toxpython: 'python3.6'
          #   python_arch: 'x64'
          #   tox_env: 'py36-cover,codecov'
          #   os: 'ubuntu-latest'
          # - name: 'py36-cover (windows)'
          #   python: '3.6'
          #   toxpython: 'python3.6'
          #   python_arch: 'x64'
          #   tox_env: 'py36-cover,codecov'
          #   os: 'windows-latest'
          # - name: 'py36-cover (macos)'
          #   python: '3.6'
          #   toxpython: 'python3.6'
          #   python_arch: 'x64'
          #   tox_env: 'py36-cover,codecov'
          #   os: 'macos-latest'
          - name: 'py36-nocov (ubuntu)'
            python: '3.6'
            toxpython: 'python3.6'
            python_arch: 'x64'
            tox_env: 'py36-nocov'
            os: 'ubuntu-latest'
          - name: 'py36-nocov (windows)'
            python: '3.6'
            toxpython: 'python3.6'
            python_arch: 'x64'
            tox_env: 'py36-nocov'
            os: 'windows-latest'
          - name: 'py36-nocov (macos)'
            python: '3.6'
            toxpython: 'python3.6'
            python_arch: 'x64'
            tox_env: 'py36-nocov'
            os: 'macos-latest'
          # - name: 'py37-cover (ubuntu)'
          #   python: '3.7'
          #   toxpython: 'python3.7'
          #   python_arch: 'x64'
          #   tox_env: 'py37-cover,codecov'
          #   os: 'ubuntu-latest'
          # - name: 'py37-cover (windows)'
          #   python: '3.7'
          #   toxpython: 'python3.7'
          #   python_arch: 'x64'
          #   tox_env: 'py37-cover,codecov'
          #   os: 'windows-latest'
          # - name: 'py37-cover (macos)'
          #   python: '3.7'
          #   toxpython: 'python3.7'
          #   python_arch: 'x64'
          #   tox_env: 'py37-cover,codecov'
          #   os: 'macos-latest'
          - name: 'py37-nocov (ubuntu)'
            python: '3.7'
            toxpython: 'python3.7'
            python_arch: 'x64'
            tox_env: 'py37-nocov'
            os: 'ubuntu-latest'
          - name: 'py37-nocov (windows)'
            python: '3.7'
            toxpython: 'python3.7'
            python_arch: 'x64'
            tox_env: 'py37-nocov'
            os: 'windows-latest'
          - name: 'py37-nocov (macos)'
            python: '3.7'
            toxpython: 'python3.7'
            python_arch: 'x64'
            tox_env: 'py37-nocov'
            os: 'macos-latest'
          # - name: 'py38-cover (ubuntu)'
          #   python: '3.8'
          #   toxpython: 'python3.8'
          #   python_arch: 'x64'
          #   tox_env: 'py38-cover,codecov'
          #   os: 'ubuntu-latest'
          # - name: 'py38-cover (windows)'
          #   python: '3.8'
          #   toxpython: 'python3.8'
          #   python_arch: 'x64'
          #   tox_env: 'py38-cover,codecov'
          #   os: 'windows-latest'
          # - name: 'py38-cover (macos)'
          #   python: '3.8'
          #   toxpython: 'python3.8'
          #   python_arch: 'x64'
          #   tox_env: 'py38-cover,codecov'
          #   os: 'macos-latest'
          - name: 'py38-nocov (ubuntu)'
            python: '3.8'
            toxpython: 'python3.8'
            python_arch: 'x64'
            tox_env: 'py38-nocov'
            os: 'ubuntu-latest'
          - name: 'py38-nocov (windows)'
            python: '3.8'
            toxpython: 'python3.8'
            python_arch: 'x64'
            tox_env: 'py38-nocov'
            os: 'windows-latest'
          - name: 'py38-nocov (macos)'
            python: '3.8'
            toxpython: 'python3.8'
            python_arch: 'x64'
            tox_env: 'py38-nocov'
            os: 'macos-latest'
          # - name: 'py39-cover (ubuntu)'
          #   python: '3.9'
          #   toxpython: 'python3.9'
          #   python_arch: 'x64'
          #   tox_env: 'py39-cover,codecov'
          #   os: 'ubuntu-latest'
          # - name: 'py39-cover (windows)'
          #   python: '3.9'
          #   toxpython: 'python3.9'
          #   python_arch: 'x64'
          #   tox_env: 'py39-cover,codecov'
          #   os: 'windows-latest'
          # - name: 'py39-cover (macos)'
          #   python: '3.9'
          #   toxpython: 'python3.9'
          #   python_arch: 'x64'
          #   tox_env: 'py39-cover,codecov'
          #   os: 'macos-latest'
          - name: 'py39-nocov (ubuntu)'
            python: '3.9'
            toxpython: 'python3.9'
            python_arch: 'x64'
            tox_env: 'py39-nocov'
            os: 'ubuntu-latest'
          - name: 'py39-nocov (windows)'
            python: '3.9'
            toxpython: 'python3.9'
            python_arch: 'x64'
            tox_env: 'py39-nocov'
            os: 'windows-latest'
          - name: 'py39-nocov (macos)'
            python: '3.9'
            toxpython: 'python3.9'
            python_arch: 'x64'
            tox_env: 'py39-nocov'
            os: 'macos-latest'
          - name: 'py310-nocov (ubuntu)'
            python: '3.10'
            toxpython: 'python3.10'
            python_arch: 'x64'
            tox_env: 'py310-nocov'
            os: 'ubuntu-latest'
          - name: 'py310-nocov (windows)'
            python: '3.10'
            toxpython: 'python3.10'
            python_arch: 'x64'
            tox_env: 'py310-nocov'
            os: 'windows-latest'
          - name: 'py310-nocov (macos)'
            python: '3.10'
            toxpython: 'python3.10'
            python_arch: 'x64'
            tox_env: 'py310-nocov'
            os: 'macos-latest'
          # - name: 'pypy-cover (ubuntu)'
          #   python: 'pypy-.'
          #   toxpython: 'pypy.'
          #   python_arch: 'x64'
          #   tox_env: 'pypy-cover,codecov'
          #   os: 'ubuntu-latest'
          # - name: 'pypy-cover (windows)'
          #   python: 'pypy-.'
          #   toxpython: 'pypy.'
          #   python_arch: 'x64'
          #   tox_env: 'pypy-cover,codecov'
          #   os: 'windows-latest'
          # - name: 'pypy-cover (macos)'
          #   python: 'pypy-.'
          #   toxpython: 'pypy.'
          #   python_arch: 'x64'
          #   tox_env: 'pypy-cover,codecov'
          #   os: 'macos-latest'
          # - name: 'pypy-nocov (ubuntu)'
          #   python: 'pypy-.'
          #   toxpython: 'pypy.'
          #   python_arch: 'x64'
          #   tox_env: 'pypy-nocov'
          #   os: 'ubuntu-latest'
          # - name: 'pypy-nocov (windows)'
          #   python: 'pypy-.'
          #   toxpython: 'pypy.'
          #   python_arch: 'x64'
          #   tox_env: 'pypy-nocov'
          #   os: 'windows-latest'
          # - name: 'pypy-nocov (macos)'
          #   python: 'pypy-.'
          #   toxpython: 'pypy.'
          #   python_arch: 'x64'
          #   tox_env: 'pypy-nocov'
          #   os: 'macos-latest'
          # - name: 'pypy3-cover (ubuntu)'
          #   python: 'pypy-3.'
          #   toxpython: 'pypy3.'
          #   python_arch: 'x64'
          #   tox_env: 'pypy3-cover,codecov'
          #   os: 'ubuntu-latest'
          # - name: 'pypy3-cover (windows)'
          #   python: 'pypy-3.'
          #   toxpython: 'pypy3.'
          #   python_arch: 'x64'
          #   tox_env: 'pypy3-cover,codecov'
          #   os: 'windows-latest'
          # - name: 'pypy3-cover (macos)'
          #   python: 'pypy-3.'
          #   toxpython: 'pypy3.'
          #   python_arch: 'x64'
          #   tox_env: 'pypy3-cover,codecov'
          #   os: 'macos-latest'
          # - name: 'pypy3-nocov (ubuntu)'
          #   python: 'pypy-3.'
          #   toxpython: 'pypy3.'
          #   python_arch: 'x64'
          #   tox_env: 'pypy3-nocov'
          #   os: 'ubuntu-latest'
          # - name: 'pypy3-nocov (windows)'
          #   python: 'pypy-3.'
          #   toxpython: 'pypy3.'
          #   python_arch: 'x64'
          #   tox_env: 'pypy3-nocov'
          #   os: 'windows-latest'
          # - name: 'pypy3-nocov (macos)'
          #   python: 'pypy-3.'
          #   toxpython: 'pypy3.'
          #   python_arch: 'x64'
          #   tox_env: 'pypy3-nocov'
          #   os: 'macos-latest'
    steps:
    - name: Set git to not change EoL
      run: |
        git config --global core.autocrlf false
    - name: Cache pre-commit packages
      id: cache-pre-commit
      uses: actions/cache@v3
      with:
        path: ~/.cache/pre-commit
        key: ${{ runner.os }}-py${{ matrix.python }}-${{ matrix.python_arch }}-pre-commit
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python }}
        architecture: ${{ matrix.python_arch }}
        cache: 'pip'
    - name: install dependencies
      run: |
        python -mpip install --progress-bar=off -r ci/requirements.txt
        virtualenv --version
        pip --version
        tox --version
        pip list --format=freeze
    - name: test
      env:
        TOXPYTHON: '${{ matrix.toxpython }}'
      run: >
        tox -e ${{ matrix.tox_env }} -v
    - name: Publish package
      if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        password: ${{ secrets.PYPI_API_TOKEN }}
    - name: Coveralls
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.COVERALLS_TOKEN }}
    - name: codecov
      uses: codecov/codecov-action@v3
      with:
        fail_ci_if_error: true
        verbose: true
